<header>
    <div class="container-grid cabecalho">
        <a href="index.html"><img class="logo" src="/assets/img/logo-game-mania-0.svg"></a>
        <nav id="menu" class="menu">
            <a href="#">Início</a>
            <a href="#">Loja</a>
            <a href="#">Contato</a>
            <a href="#"><img src="/assets/img/icon-search.svg" alt=""></a>
            <a href="#"><img src="/assets/img/icon-cart.svg" alt=""></a>
            <a routerLink="/login" class="login-button"><img src="/assets/img/icon-login.svg" alt="">Login</a>
        </nav>
        <a href="#" id="menu-icon"><img class="menu-icon" src="/assets/img/menu-icon.svg" alt="Ícone de menu"></a>
    </div> 
</header>