<main>
    <section id="carrossel" class="banner banner-1">
        <div class="container-grid conteudo-banner">
            <div>
                <h1>Ofertas<br>imperdíveis!</h1>
            </div>
            <div>
                <a href="#">Clique aqui e confira</a>
            </div>
        </div>
    </section>
    <section class="container-grid contatos">
        <div>
            <a href="tel:+5562998765432"><img src="/assets/img/icon-tel.svg" alt=""><span><span style="font-size: 11px">62</span>&nbsp;9 9876-5432</span></a>
            <a href="mailto:contato@gamemania.com"><img src="/assets/img/icon-mail.svg" alt=""><span>contato@gamemania.com</span></a>
            <a href="#"><img src="/assets/img/icon-insta.svg" alt=""><span>Instagram</span></a>
            <a href="#"><img src="/assets/img/icon-face.svg" alt=""><span>Facebook</span></a>
        </div>
    </section>
    <section class="container-grid produtos">
        <div>
            <a href="#"><img src="/assets/img/pc-gamer-ntc-powered-by-asus-amd-ryzen-5-5600g-8gb-ssd-512gb-500w-linux-vlcrz5600-8512_1627931804_gg.jpg"></a>
            <a href="#" class="nome-produto">PC Gamer NTC Powered By Asus AMD Ryzen 5 5600G, 8GB, SSD 512GB</a>
            <h2 class="preco-produto">R$5.459,90</h2>
            <h3  class="preco-parcelado">Ou em 10x R$545,99</h3>
            <a href="#" class="botao-comprar">Comprar</a>
        </div>
        <div>
            <a href="#"><img src="/assets/img/monitor-lg-led-19-5-hdmi-vga-2ms-ajuste-de-inclinacao-20mk400h-b_1585745761_gg.jpg"></a>
            <a href="#" class="nome-produto">Monitor LG 19.5' LED, Full HD, HDMI, VESA, Ajuste de Ângulo</a>
            <h2 class="preco-produto">R$699,99</h2>
            <h3  class="preco-parcelado">Ou em 10x R$69,99</h3>
            <a href="#" class="botao-comprar">Comprar</a>
        </div>
        <div>
            <a href="#"><img src="/assets/img/Console-Nintendo-Switch-Oled-Branco_1643664147_gg.jpg"></a>
            <a href="#" class="nome-produto">Console Nintendo Switch Oled - Branco</a>
            <h2 class="preco-produto">R$4.002,37</h2>
            <h3  class="preco-parcelado">Ou em 10x R$400,23</h3>
            <a href="#" class="botao-comprar">Comprar</a>
        </div>
        <div>
            <a href="#"><img src="/assets/img/Cadeira-Gamer-Redragon-Metis-Preta-C102-B_1636125788_gg.jpg"></a>
            <a href="#" class="nome-produto">Cadeira Gamer Redragon Metis, Preta</a>
            <h2 class="preco-produto">R$1.985,47</h2>
            <h3  class="preco-parcelado">Ou em 10x R$198,54</h3>
            <a href="#" class="botao-comprar">Comprar</a>
        </div>
        <div>
            <a href="#"><img src="/assets/img/notebook-samsung-book-intel-core-i5-1135g7-8gb-1tb-hd-15-6-led-full-hd-windows-10-home-cinza-chumbo-np550xda-kf1br_1620852066_m.jpg"></a>
            <a href="#" class="nome-produto">Notebook Samsung Book Intel Core i5-1135G7, 8GB, 1TB HD, 15.6´ LED Full HD</a>
            <h2 class="preco-produto">R$3.599,90</h2>
            <h3  class="preco-parcelado">Ou em 10x R$359,99</h3>
            <a href="#" class="botao-comprar">Comprar</a>
        </div>
        <div>
            <a href="#"><img src="/assets/img/controle-sem-fio-ps5-dualsense_1598897393_gg.jpg"></a>
            <a href="#" class="nome-produto">Controle sem Fio PS5 DualSense</a>
            <h2 class="preco-produto">R$419,90</h2>
            <h3  class="preco-parcelado">Ou em 10x R$41,99</h3>
            <a href="#" class="botao-comprar">Comprar</a>
        </div>
        <div>
            <a href="#"><img src="/assets/img/game-marvel-s-spider-man-miles-morales-ps5_1600863136_gg.jpg"></a>
            <a href="#" class="nome-produto">Jogo Marvel's Spider-Man: Miles Morales PS5</a>
            <h2 class="preco-produto">R$219,91</h2>
            <h3  class="preco-parcelado">Ou em 10x R$21,99</h3>
            <a href="#" class="botao-comprar">Comprar</a>
        </div>
        <div>
            <a href="#"><img src="/assets/img/teclado-mecanico-gamer-t-dagger-bora-rgb-switch-outemu-brown-pt-t-tgk315-brown_1641414700_gg.jpg"></a>
            <a href="#" class="nome-produto">Teclado Mecânico Gamer T-Dagger Bora, RGB</a>
            <h2 class="preco-produto">R$199,90</h2>
            <h3  class="preco-parcelado">Ou em 10x R$19,99</h3>
            <a href="#" class="botao-comprar">Comprar</a>
        </div>
    </section>
    <section class="container-grid departamentos">
        <a href="#">PC Gamer</a>
        <a href="#">Notebooks</a>
        <a href="#">Hardware</a>
        <a href="#">Periféricos</a>
        <a href="#">Consoles</a>
        <a href="#">Jogos</a>
        <a href="#">Acessórios</a>
        <a href="#">Home Office</a>
    </section>
    <section class="newsletter">
        <div class="formulario container-grid">
            <p>Recebe ofertas exclusivas no seu e-mail!</p>
            <form class="formulario" action="">
                <input type="text" placeholder="Seu nome">
                <input id="campo-email" type="email" placeholder="Seu e-mail" required>
                <button onclick="cadastrarNewsletter()">Cadastrar</button>
            </form>
        </div>
    </section>
    <section class="localizacao">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.9863864329648!2d-49.26404068836626!3d-16.68470437731249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbe0b5d542a7dbcfb!2zMTbCsDQxJzA0LjMiUyA0OcKwMTUnNDguNiJX!5e0!3m2!1spt-BR!2sbr!4v1646190829532!5m2!1spt-BR!2sbr"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
</main>