<footer>
    <div class="container-grid footer-grid">
        <div class="departamentos-footer">
            <div>
                <strong>Departamentos</strong>
                <br><br>
            </div>
            <div class="footer-nav">
                <a href="#">PC Gamer</a>
                <a href="#">Notebook</a>
                <a href="#">Hardware</a>
                <a href="#">Periféricos</a>
                <a href="#">Consoles</a>
                <a href="#">Jogos</a>
                <a href="#">Acessórios</a>
                <a href="#">Home Office</a>
            </div>
        </div>
        <div class="menu-footer">
            <a href="#">Minha Conta</a><br>
            <a href="#">Privacidade</a><br>
            <a href="#">FAQ</a>
        </div>
        <div class="atendimento-footer">
            <strong>Atendimento</strong><br><br>
            <strong>Horário de atendimento</strong><br>
            Segunda a sexta, das 8h às 18h<br>
            Sábado, das 8h às 12h<br><br>

            <strong>Endereço</strong><br>
            Rua A, 123 - Goiânia/GO<br><br>

            <strong>SAC</strong><br>
            (62) 9 9876-5432<br>
            contato@gamemania.com
        </div>
        <div class="social-footer">
            <a href="#"><img src="/assets/img/icon-insta.svg" alt="">Instagram</a>
            <a href="#"><img src="/assets/img/icon-face.svg" alt="">Facebook</a>
            <img src="/assets/img/logo-game-mania-0.svg">
        </div>
    </div>
    <div class="subfooter">
        <p>Game Mania 2022 | CNPJ XX. XXX. XXX/0001-XX | Todos os direitos resevados.</p>
    </div>
</footer>